{% extends "base.html" %}

{% block title %}View{% endblock %}

{% block sidebar %}
{% include 'sidebar.html' %}
{% endblock %}

{% block body %}
<div class="container">
    <div class="level">
        <div class="level-item level-left">
            <a href="{{ url_for('blog') }}"><i class="fa fa-arrow-left"></i>&nbsp; Back to Posts</a>
        </div>
    </div>
    <div class="content post-content">
        <h1 class="has-underline">{{ post.title }}</h1>
        {{ post.content|Markdown }}
    </div>
</div>
{% endblock %}
